<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auth</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/slate/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />

    @RenderSection("styles", required: false)
</head>
<body>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1285424324804833',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a asp-controller="Home" asp-action="Index" class="navbar-brand">IdServeDemo Authorization Server</a>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="right"><a href="https://sgpconcept.com">Copyright <i class="fa fa-copyright"></i> <span>IdServeDemo</span> @DateTime.Now.Year. All rights reserved</a></div>
            <div class="fb-like left"
                 data-share="true"
                 data-width="450"
                 data-show-faces="true">
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
